In [1]:
# for single line comment



'''This is also 
perfect example of
multi line comments'''



""" This too is
multi line comment """

' This too is\nmulti line comment '

In [2]:
# Variable assignments
a=10
b=20

a=5;d=10 # multiple statement in a single line

b,c=3.2,"Hello" # multiple variable in a single statement

x=y=z="World" # multiple variable with a single value

In [3]:
# Displaying the values store in variables

print(c)
print()
print ("Value of a=",a)
print ("value of a= \n",a)
print(b,c)
print(b,c,sep="@")
c

Hello

Value of a= 5
value of a=
 5
3.2 Hello
3.2@Hello

'Hello'

In [4]:
print(type(b))

<class 'float'>

In [5]:
#opertaions on veriables

print(a+b)   #a=5 b=3.2

8.2

In [6]:
print (a*b)

16.0

In [7]:
div = d/a #d=10, a=5
print(d/a)

2.0

In [8]:
e=5.8

In [9]:
print(e//2) #floored dividion

2.0

In [10]:
print(d%a) # modulus division return the remainder

0

In [11]:
print(a-b)

1.7999999999999998

In [12]:
print(round(a-b,4))      #using round function
e=5.87809
print(round(e/2,3))

1.8
2.939

In [13]:
print(a**2) #exponentiation

25

In [14]:
# python does type inferencing automatically
a=5
b=3.2
print(type(b))    #return the datatype os the object
print(a+b)


a="5"           # using as string function 
b="3.2"
print(a+b) # + act line a concatenation operator
print (type(b))

<class 'float'>
8.2
53.2
<class 'str'>

In [15]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [16]:
print(math.sqrt(25))
print(math.floor(5.876))
print(math.pi)

5.0
5
3.141592653589793

In [17]:
r=8
area=math.pi*r*r
print("Area of circle with radius",r,"is = \t", round(area,4))

Area of circle with radius 8 is = 	 201.0619

In [18]:
# user input at runtime
name=input("Enter your name ")
print("HELLO",name)

Enter your name vishakha joshi
HELLO vishakha joshi

In [19]:
r=float(input("Enter the radius "))    
area=math.pi*r*r
print("Area of circle with radius",r,"is = \t", round(area,4))

Enter the radius 8
Area of circle with radius 8.0 is = 	 201.0619

In [21]:
num1=float(input("enter first num "))
num2=float(input("enter second num "))
value = num1*num2
print("multiplication is ",value)

enter first num 26
enter second num 32
multiplication is  832.0

In [23]:
a=5
if a<10:
    print("Yes")
else:
    print("No")

Yes

In [28]:
#condition Execution statement
#is-else
x=7
y=5
if x>y:
    print("x is greater than y")
    print("End of block")
else:
    print("y is greater than x")
print("Done")

x is greater than y
End of block
Done

In [29]:
#Nested if-else

if x==y:
    print("x is equal ro y")
else:
    if x<y:
        print("x is less than y")
    else:
        print("x is greater than y")
print("Done")

x is greater than y
Done

In [31]:
#if-elif-elif-esle ladder

salary=60000
if salary<=30000:
    print("This is the first salary bracket")
    print("Employee belong to low Income Group")
elif salary<=60000:
    print("This is the Second salary bracket")
    print("Employee belong to Medium Income Group")
elif salary<=100000:
    print("This is the Third salary bracket")
    print("Employee belong to High Income Group")
else:
    print("This is the Fourth salary bracket")
    print("Employee belong to Very High Income Group")
print("Done")

This is the Second salary bracket
Employee belong to Medium Income Group
Done

In [33]:
salary=float(input("Enter your salary "))
if salary<=300000:
    print("This is the first salary bracket")
    print("Employee belong to low Income Group")
elif salary<=60000:
    print("This is the Second salary bracket")
    print("Employee belong to Medium Income Group")
elif salary<=100000:
    print("This is the Third salary bracket")
    print("Employee belong to High Income Group")
else:
    print("This is the Fourth salary bracket")
    print("Employee belong to Very High Income Group")
print("Done")

Enter your salary 750000
This is the Fourth salary bracket
Employee belong to Very High Income Group
Done

In [39]:
score=92
if score>90:
    print("Certificate of Excellence")
elif score<80:
    print("Certificate of Achievement")
elif score<70:
    print("Certifiacte of Completion")
elif score<50:
    print("Certificate of Partipation")
else:
    print("Fail")
print("Done")

Certificate of Excellence
Done

In [40]:
score=float(input("Enter your score:"))

if score>0 and score<=100:
    if score<50:
        print("Certificate of Partipation")
    elif score<70:
        print("Certificatr of Completion ")
    elif score<90:
        print("Certificate of Achievement")
    else:
         print("Certificate of Excellence")
else: 
    print ("Your entered an invalid value")

Enter your score:130
Your entered an invalid value

In [41]:
#LOGICAL OPERATOR


# & ----> AND both contion should be true
# | -----> OR either one condition should be true
# !-----> NOT


# Multiple condition evaluation
x=9;y=6
if (x>7)|(y>7):
    #T OR F ---> T
    print("x is positive single digit number")

x is positive single digit number

In [42]:
# multiple condition evaluation 
x=5;y=8
if((x>7)&(y>7))|(x!=y):
    #(F and T) or T
    # F or T ---->T
    print("x is positive single digit numaber")

x is positive single digit numaber

In [43]:
a="5"
num=int(a)
print(num)
print(type(num))

a=chr(98)   # uses the ASCII values to fetch the character
print(a)

b=str(10)  #convert the numarical value to a string
print(b)
print(type(b))

5
<class 'int'>
b
10
<class 'str'>

In [2]:
## check is a given number is odd or even 

num=15
if num%2==0:
    print("The Given number is Even")
else:
    print("The Given Number is Odd")

The Given Number is Odd

In [6]:
num=float(input("Enter the value = "))     # user inpute 
if num%2==0:
    print("The Given number is Even")
else:
    print("The Given Number is Odd")

Enter the value = 35.2
The Given Number is Odd

In [7]:
#user define function (UDF)

def greeting(): #defining the function as greeting ---->user difine function
    print("Hello User")
    print("Hoe are you")

In [8]:
greeting() # call function

Hello User
Hoe are you

In [9]:
def calc(a,b):
    print(a*b)
    print(a-b)
    print(a+b)

In [15]:
calc(5,3)
num1=float(input("Enter num1 = "))
num2=float(input("Enter num2 = "))
calc(num1,num2)

15
2
8
Enter num1 = 25
Enter num2 = 16
400.0
9.0
41.0

In [17]:
def cube(a):
    print("Value is = ",a)
    print("the cube is = ",a*a*a)
cube(56)

Value is =  56
the cube is =  175616

In [18]:
cube(10)
cube(20)

num=float(input("Enter a Number :"))
cube(num)

Value is =  10
the cube is =  1000
Value is =  20
the cube is =  8000
Enter a Number :15
Value is =  15.0
the cube is =  3375.0

In [19]:
# return statemet in user define function

def cube(a):
    print("Value is = ",a)   #simply print the output like a message
    return a*a*a   #allows us to return a value that can be stored and used leter

In [20]:
cube(10)

Value is =  10

1000

In [21]:
b=cube(7)
print(b*4.5)

Value is =  7
1543.5

In [22]:
def hi():
    print("Hello User!")
    a=10  # local veriable define the function .
    b=20
    print(a*b)

In [23]:
hi()

Hello User!
200

In [24]:
a # a was a local variable and not a global variable hence will return an error

NameError: name 'a' is not defined

In [25]:
#check multiple number even or odd

def oddeven(i):
    if i%2==0:
        print(i,"is Even")
    else:
        print(i,"is Odd")

In [26]:
num=int(input("Enter a value = "))
oddeven(num)

Enter a value = 23
23 is Odd

In [27]:
oddeven(30)

30 is Even

# Loops
1.While loop

2.For loop

In [28]:
# loops
# while loop
i=1
while(i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [29]:
#print 1-100 number decrement
i=100
while(i>=1):
    print(i)
    i=i-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [1]:
i=1
while(i<=100):
    if i%2==0:
        print(i,"Is an Even number")
    else:
        print(i,"Is an Odd number")
    i=i+1

1 Is an Odd number
2 Is an Even number
3 Is an Odd number
4 Is an Even number
5 Is an Odd number
6 Is an Even number
7 Is an Odd number
8 Is an Even number
9 Is an Odd number
10 Is an Even number
11 Is an Odd number
12 Is an Even number
13 Is an Odd number
14 Is an Even number
15 Is an Odd number
16 Is an Even number
17 Is an Odd number
18 Is an Even number
19 Is an Odd number
20 Is an Even number
21 Is an Odd number
22 Is an Even number
23 Is an Odd number
24 Is an Even number
25 Is an Odd number
26 Is an Even number
27 Is an Odd number
28 Is an Even number
29 Is an Odd number
30 Is an Even number
31 Is an Odd number
32 Is an Even number
33 Is an Odd number
34 Is an Even number
35 Is an Odd number
36 Is an Even number
37 Is an Odd number
38 Is an Even number
39 Is an Odd number
40 Is an Even number
41 Is an Odd number
42 Is an Even number
43 Is an Odd number
44 Is an Even number
45 Is an Odd number
46 Is an Even number
47 Is an Odd number
48 Is an Even number
49 Is an Odd number
50 Is an Even number
51 Is an Odd number
52 Is an Even number
53 Is an Odd number
54 Is an Even number
55 Is an Odd number
56 Is an Even number
57 Is an Odd number
58 Is an Even number
59 Is an Odd number
60 Is an Even number
61 Is an Odd number
62 Is an Even number
63 Is an Odd number
64 Is an Even number
65 Is an Odd number
66 Is an Even number
67 Is an Odd number
68 Is an Even number
69 Is an Odd number
70 Is an Even number
71 Is an Odd number
72 Is an Even number
73 Is an Odd number
74 Is an Even number
75 Is an Odd number
76 Is an Even number
77 Is an Odd number
78 Is an Even number
79 Is an Odd number
80 Is an Even number
81 Is an Odd number
82 Is an Even number
83 Is an Odd number
84 Is an Even number
85 Is an Odd number
86 Is an Even number
87 Is an Odd number
88 Is an Even number
89 Is an Odd number
90 Is an Even number
91 Is an Odd number
92 Is an Even number
93 Is an Odd number
94 Is an Even number
95 Is an Odd number
96 Is an Even number
97 Is an Odd number
98 Is an Even number
99 Is an Odd number
100 Is an Even number

In [2]:
count=0
while(count<=5):
    count=count+1 # pre-incrementation
    
    print(count**2)
    #count=count+1
    #count+=1
else:
    print("Out of loop")

1
4
9
16
25
36
Out of loop

In [3]:
# for loop 

list_name =["Nikita","Sherish","Jyoti","Jagruti"]
for i in list_name:
    print("Hello",i)

Hello Nikita
Hello Sherish
Hello Jyoti
Hello Jagruti

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
for i in range(1,11):
    if i%2==0:
        print(i,"Is even")
    else:
        print(i,"Is odd")

1 Is odd
2 Is even
3 Is odd
4 Is even
5 Is odd
6 Is even
7 Is odd
8 Is even
9 Is odd
10 Is even

In [7]:
for i in range(1,11)[::-1]:
    print(i**2)

100
81
64
49
36
25
16
9
4
1

In [8]:
list_name =["Nikita","Sherish","Jyoti","Jagruti"]
for i in list_name [::-1]:
    print("Hello",i)

Hello Jagruti
Hello Jyoti
Hello Sherish
Hello Nikita

In [12]:
name = "Vishakha"
name[::-1]

'ahkahsiV'

In [14]:
for i in range(1,11):
    print("5*",i,"=",5*1)

5* 1 = 5
5* 2 = 5
5* 3 = 5
5* 4 = 5
5* 5 = 5
5* 6 = 5
5* 7 = 5
5* 8 = 5
5* 9 = 5
5* 10 = 5

In [15]:
i=1
while(i<=10):
    print("5*",i,"=",5*1)
    i=i+1

5* 1 = 5
5* 2 = 5
5* 3 = 5
5* 4 = 5
5* 5 = 5
5* 6 = 5
5* 7 = 5
5* 8 = 5
5* 9 = 5
5* 10 = 5

# Data Structure

### Numbers

In [1]:
a=5
print(type(a))
a=12.5
print(type(a))
a=10+5j
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
import math    # math is library

In [5]:
print(math.sqrt(4))         #Squareroot
print(math.floor(10.7))    # nearest lowest integer
print(math.ceil(-10.7))    #nearest lighest intege
print(math.pow(2,3))        # power
print(math.factorial(6))   #factorial 6*5*4*3*2*1
print(math.pi)
print(round(math.pi,2))    #round function for rounded

2.0
10
-10
8.0
720
3.141592653589793
3.14

In [7]:
import random as rn       # random is liborary, rn is alice of random 
#rn.seed(10)#--> sets a seed value to generate reproducible output
print(rn.random())   # range is 0 to 
print(rn.randint(1,100))  # returen an integer
print(rn.uniform(1,100))  # returen a floot

a=[1,2,3,4,5]
print(rn.choice(a))  #select a value randomly

0.8396608502377884
61
3.7188989309116365
4

In [8]:
import numpy as np
?np.sqrt           # help to know which function will perform

## Strings

In [9]:
my_string = "Hello World"
print(my_string)
my_string = """"Python is a programming language
python is interesting.
this is it."""           # multi line string
print(my_string)
my_string = "Hello \n World"  
print(my_string)

Hello World
"Python is a programming language
python is interesting.
this is it.
Hello
 World

In [31]:
# Slicing
my_string="Python is a programming language.Python is interesting."
print(my_string[0])     #indexing 1 letter i.e it is start indexing from 0

P

In [12]:
print(my_string[-3])     # negative indexing start with -1

n

In [13]:
# [inclusive:exclusive]
print(my_string[3:10])     # start indexing from 3

hon is

In [14]:
print(my_string[:25])

Python is a programming l

In [15]:
print(my_string[25:])

anguage.Python is interesting.

In [16]:
print(my_string[25:-10])

anguage.Python is in

In [17]:
print(my_string[:])

Python is a programming language.Python is interesting.

In [18]:
print(my_string[100])   # index out of range

IndexError: string index out of range

In [19]:
print(len(my_string))

55

In [20]:
print(my_string[5:8],my_string[10])

n i a

In [21]:
#string are immutable -----> on the basis of indexing
my_string[3]="B"

TypeError: 'str' object does not support item assignment

In [23]:
#can replace on the basis of characters but not on the basis of index position
my_string=my_string.replace("in","N")  # replace ---> is function
my_string

'Python is a programmNg language.Python is NterestNg.'

In [29]:
my_string="Hello World" + my_string
my_string

'Hello WorldPython is a programming language.Python is interesting.'

In [32]:
my_string.find("Python")

0

In [33]:
my_string = "Python is a programming language. Python is interesting."

for i in range(len(my_string)):
    if my_string.startswith('Python', i):
        print(i)

0
34

In [37]:
print(my_string.split(sep=" "))  # sep is used for split

['Python', 'is', 'a', 'programming', 'language.', 'Python', 'is', 'interesting.']

In [ ]:
del my_string  # deleteing

## List [ ]

* mixed datatype are allowed

* repetative elements are allowed

* it preserve the order

* mutable (Changes allowed)

* Elements are accessed using indexing

## Tuples ( )

* mixed datatype are allowed

* repetative elements are allowed

* it preserve the order

* immutable (changes not allowed)

* Elements are accessed using indexing

* work fasted than list

In [38]:
# python list

mylist1=[1,2,3,4,2]

mylist2=[1,4.2,"python","123",4.2,mylist1]

print(mylist1)
print(mylist2)
print(type(mylist2))

[1, 2, 3, 4, 2]
[1, 4.2, 'python', '123', 4.2, [1, 2, 3, 4, 2]]
<class 'list'>

In [39]:
#use of slicing operator

a=[10,20,30,40,50,60,70,80]

print(a[2])

print(a[0:3])

print(a[5:])

print(a[2],a[5])

30
[10, 20, 30]
[60, 70, 80]
30 60

In [40]:
b=["spam",2.0,5,[10,"raj"]]      #----> nested list
print(b[3][1][2])

j

In [42]:
#list are mutable
# replacing on element on the basis of index number
a[3]="abc"
print(a)

[10, 20, 30, 'abc', 50, 60, 70, 80]

In [48]:
#appending multiple elements
#1.append and 2.extend
my_list=[1,2,3,4]

my_new_list=[4,5,6,7,8]

my_list.append("xyz")  #----> append will always add one element to the list 

my_list.extend(my_new_list)#----> extend will always add multiple elemets to the list

print(my_list)

[1, 2, 3, 4, 'xyz', 4, 5, 6, 7, 8]

In [49]:
# insert 
my_list.insert(4,"abc")#-----> insert will add element 
print(my_list)

[1, 2, 3, 4, 'abc', 'xyz', 4, 5, 6, 7, 8]

In [50]:
# remove
my_list.remove(6)  # removes the given elements
print(my_list)

[1, 2, 3, 4, 'abc', 'xyz', 4, 5, 7, 8]

In [ ]:
del my_list[3] # remove the element from the given index positions

# Tuples

In [51]:
a=(5,"python",(1,"alex",3),27.9,5)
print(a)
print(type(a))
print(a[2][1][2])
print(a[3])
print(a[1:4])

(5, 'python', (1, 'alex', 3), 27.9, 5)
<class 'tuple'>
e
27.9
('python', (1, 'alex', 3), 27.9)

In [52]:
list1=[1,2,3]
tuple1=tuple(list1)
print(tuple1)

(1, 2, 3)

In [53]:
tuple1=(1,2,3,4)
list1=list(tuple1)
print(list1)

[1, 2, 3, 4]

In [55]:
tuple3=tuple("python")
tuple3

('p', 'y', 't', 'h', 'o', 'n')

In [56]:
# tuple is immutable 
a[2]=0
del a

TypeError: 'tuple' object does not support item assignment

# sets { }

1. mixed datatype are allowed

2. unique elelmets are stored (duplicates not allow)

3. does not preservw the order

4. indexing not supported

5. mutable

6. Sets are used to store multiple items in a single variable.

7. Application :- set operation ---> union/intersection convert a data structure to a set(unique elements)

In [57]:
my_set={1,2.0,3,4,3,2,10,"alex",38,72,16}
print(my_set)

{1, 2.0, 3, 4, 38, 72, 10, 16, 'alex'}

In [58]:
my_set[3]  #-----> sets does not support indexing

TypeError: 'set' object is not subscriptable

In [59]:
# Adding elements
my_set = {1,3}
print(my_set)

{1, 3}

In [60]:
my_set.add(8) #----> Only add one element
print(my_set)

{8, 1, 3}

In [61]:
my_set.update({6,8,1,4,2}) # -----> pdate will add multiple elements to the set
print(my_set)

{1, 2, 3, 4, 6, 8}

In [62]:
#deleting Elements
my_set.remove(6)
print(my_set)

{1, 2, 3, 4, 8}

In [63]:
# Union and instersection
A =[1,2,3,4,5,9]
B =(4,5,6,7,8,10)

setA = set(A)
setB = set(B)

print(setA | setB)
# print(setA.union(setB))

print(setA & setB)
#print(setA.intersection(setB))

print(setA-setB)  #A-B
print(setB.difference(setA))  #B-A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{4, 5}
{1, 2, 3, 9}
{8, 10, 6, 7}

## Dictionaris { }

1. Storing data in key and value form
2. Mixed datatype allowed
3. Keys should be unique
4. Preserve the order
5. Value should be repetative
6. Indexing not supported
7. Mutable in nature 
8. Stored data in meaningful manner.
9. Accessing is done by using keys
10. a={a:"Abc", b:"xyz"} ----> A -- key, "abc"-- value

In [6]:
# Creating a dictionary
my_d1= {1:"A","B":2}          #Mixed datatype allowed
print(my_d1)

{1: 'A', 'B': 2}

In [2]:
my_d2 = {"name":("John","Priya","Alex"),"ID":[2,4],
         "Marks":[34,45,38],
         "Marks":[47,45]}
print(my_d2)

{'name': ('John', 'Priya', 'Alex'), 'ID': [2, 4], 'Marks': [47, 45]}

In [3]:
print(my_d2["name"])

('John', 'Priya', 'Alex')

In [4]:
print(my_d2["name"][0],my_d2["ID"][0],my_d2["Marks"][0])

John 2 47

In [7]:
print(my_d1[1])

A

In [9]:
my_d={"Name":"Priya", "age":[12,54,38]}
my_d["Name"]="Nikita"
my_d["age"][1]=28
print(my_d)

{'Name': 'Nikita', 'age': [12, 28, 38]}

In [11]:
my_d["address"]=["Mumbai","Pune"]
print(my_d)

{'Name': 'Nikita', 'age': [12, 28, 38], 'address': ['Mumbai', 'Pune']}

In [13]:
del my_d["age"][1]
print(my_d)

{'Name': 'Nikita', 'age': [12, 38], 'address': ['Mumbai', 'Pune']}

In [14]:
del my_d["age"]
print(my_d)

{'Name': 'Nikita', 'address': ['Mumbai', 'Pune']}

In [15]:
my_d["age"]=[12,38]
print(my_d)

{'Name': 'Nikita', 'address': ['Mumbai', 'Pune'], 'age': [12, 38]}

In [16]:
my_d.values()

dict_values(['Nikita', ['Mumbai', 'Pune'], [12, 38]])

In [18]:
my_d.keys()

dict_keys(['Name', 'address', 'age'])

In [19]:
a=[1,2,3]  
b=(4,5,6)
print(list(zip(a,b)))     # zip =merge the datastructure element position vise (using list function)

[(1, 4), (2, 5), (3, 6)]

In [24]:
a=[1,2,3]  
b=(4,5,6)

print(dict(zip(a,b)))   #using dict function

{1: 4, 2: 5, 3: 6}